/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 220px;
  font-family: 'Open Sans', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 220px;
  background-color: #333;
  color: #efefef;
  padding: 30px 0;
}
@media only screen and (max-width: 768px) {
  body { margin-bottom: 400px; }
  .footer { height: 400px; }
}
.footer a {
  color: #639bcf;
}
.footer a:hover {
  color: #d8e6f3;
}

.container {
  max-width: 960px;
}
.well {
  background-color: transparent;
}
.lead {
  color: #555;
}
.btn-lg {
  padding: 14px 20px;
  margin-right: 20px;
}

/* Navigation */
.navbar {
  background-color: rgb(51,122,183);
}
.navbar a {
  color: #d8e6f3;
}
.navbar a:hover {
  color: #fff;
}
.nav>li>a:focus,
.nav>li>a:hover,
.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  background-color: #204d74;
  color: #fff;
}
.navbar-toggle .icon-bar {
  background-color: #d8e6f3;
}
@media only screen and (max-width: 768px) {
  .dropdown-menu>li>a {
    color: #d8e6f3;
  }
}

/* index.html */
.features .glyphicon {
  font-size: 32px;
}

/* blog.html */
.about .fa-rocket {
  font-size: 64px;
}

.posts h1 a {
  color: #444;
}
.meta {
  margin-bottom: 1em;
  color: #777;
}
.meta li {
  border-right: 1px solid #ddd;
}
.meta li:last-child {
  border-right: none;
}

.imagw-wrapper {
    display: flex;
}

.image-container {
    margin: auto;
    margin-bottom: 2em;
}

.carousel-inner{
  margin: 5%;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-inner > .item {
     height: 100%;
    width: 100%;
  /*display: flex;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
  background-color: white;*/
}


.fa-check:before {
    color: green;
    background-color: white;
     padding-right: 1em;
    padding-left: 2em;
   
}
ul li {
    float: left;
}

ul li > .ui-top-buffer {
    margin-bottom: 50px;
}

.btn-primary {
    vertical-align: middle;
}

